#main-container,
#table-here,
.modal-dialog {
	min-width: 770px;
	/* margin-left: 0px;
	margin-right: 0px;
	padding-left: 0px;
	padding-right: 0px; */
}
#header-top {
	min-width: fit-content;
}
.bg-g,
.bg-light-blue {
	background-color: rgb(208 233 255);
	/* background-color: rgba(152, 197, 255, 0.459); */
}
.bg-dark {
	color: aliceblue;
}
#table-001 {
	margin-bottom: 0;
}
#table-001 thead tr,
#table-001 thead,
#table-001,
#table-001 thead tr td {
	border-style: none;
}
.sticky-offset {
	top: 500px;
}
/* .uid.input,
td>.uid {
	width: 4em;
} */
/* #table-001 td input {
	min-width: 100px;
	width: 500px;
	color: blue;
} */
.td-uid {
	width: 8em;
	min-width: 8em;
	max-width: 8em;
}

#testes {
	display: inline-block;
}

.table {
	margin-bottom: 0;
	/* display: inline-block; */
}

td,
.nowrap {
	white-space: nowrap;
}

.modal-dialog {
	width: auto;
	max-width: fit-conent;
}
td .name {
	min-width: 12rem;
}
